@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&family=Work+Sans:wght@400;600;700&display=swap");
.nav_links {
    min-width: 500px;
    max-width: 100%;
}

body {
    font-family: "Work Sans", sans-serif;
}
